{% if latest_question_list %}
	<ul>
	{% for question in latest_question_list %}
		{#paritally hardcoded url#}
		{#<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>#}

		{#Using name argument as defined in polls.urls#}
		{#<li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>#}

		{#Making use of namespace - pointing at namespaced detail view#}
		<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No polls are available.</p>
{% endif %}
